django-debug-toolbar==1.11
django-rest-swagger
pprofile
ipython==7.21.0
unittest2
black
pytest==6.2.5
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-pythonpath==0.7.3
pytest-mock==1.11.1
pytest-timeout==1.4.2
pytest-xdist==1.34.0 # 2.0.0 broke zuul for some reason
tox  # for awxkit
logutils
jupyter
matplotlib
backports.tempfile  # support in unit tests for py32+ tempfile.TemporaryDirectory
mockldap
sdb
remote-pdb
gprof2dot
atomicwrites==1.4.0
flake8
yamllint
